<div class="container-fluid">
  <div class="row">
      <div style="margin-top:15vh;" class="col-md-6 mx-auto col-sm-8">
          <div class="card border-info cardBorder">
              <div class="card-header bg-secondary">
                  <h2 class="card-title" style="color:white; text-align: center">Password Reset</h2>
              </div>

              <div style="padding-top:30px" class="card-body text-center ">
                  <div class="text-center">
                      <div>
                          <h2>Welcome to Meet Planner!!</h2>
                      </div>
                      <hr>
                      <div class="form-group form-field-container">
                        <label for="exampleInputEmail1" style="color: gray; float: left;"><i class="fas fa-at"></i>&nbsp;&nbsp;Email address<span style="color: red; font-size: 22px;">*</span></label>
                          <input type="email" [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailref="ngModel" name="email" id="inputEmail" class="form-control"  placeholder=" Email address" required
                            autofocus>
                            <div [hidden]="emailref.valid || emailref.pristine" style="color: red;">Please enter the Correct Email Address</div>
                      </div>
                  </div>
                  <hr>
                  <h6>Please Enter you Registered Email addess and You will get the link to reset your Password at the registred email address</h6>

                  <br>
              </div>
              <div class="card-footer text-center">
                  <div class="col-md-12 control">
                      <button class="btn btn-outline-success" (click)="resetPassword()">Submit </button>
                  </div>
              </div>

          </div>
      </div>

  </div>
</div>