<div class="container-fluid">
  <div class="row">
      <div style="margin-top: 5vh;" class="col-md-6 mx-auto col-sm-8">
          <div class="card border-info cardBorder">
              <div class="card-header bg-secondary">
                  <h2 class="card-title" style="color:white; text-align: center">Technical Error</h2>
              </div>

              <div style="padding-top:30px" class="card-body text-center ">
                  <div class="text-center">
                      <div>
                          <h2>Something is Wrong</h2>
                      </div>
                      <hr>
                      <h1 style="color: red">Opps!!</h1>
                      <br>
                      <h3>There might be some technical error, we are really sorry for this</h3>
                      <br>
                      <h5 style="color: red;">Error 500</h5>
                      <br>
                      <h4 style="color: green">Please try again after sometime :)</h4>
                  <hr>
                  <h4>Thank You!!!</h4>

                  <br>
              </div>
              <div class="card-footer text-center">
                  <div class="col-md-12 control">
                      <button class="btn btn-outline-success" (click)="goBack()">Go Back to previous page </button>
                  </div>
              </div>

          </div>
      </div>

  </div>
</div>